langchain
langchain_community
langchain_huggingface
langchain_groq
PyPDF2==1.26.0
streamlit
streamlit-extras
chromadb==0.3.29
protobuf==3.20.*
gtts
pymupdf
pytesseract 
pillow
torch 
transformers
